:Root{
    ---backco-prin: #5D6363;
     ---color-letra:  #D5DBDB;   
    }

footer{
background-color: var(---backco-prin);
width: 100%;
height: 20vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}   
footer section{
  display: flex;
  align-items: center;
 justify-content: space-between;
}

footer .letritas{
 display: flex;
 align-items: center;
 justify-content: space-evenly;   
}
  
footer .letritas p{
    color: var(---color-letra);
    font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
}
footer .logo{
 height: 6vh;
 width: 6vh;   
}
footer .iconos{
  display: flex;
  align-items: center;
  justify-content: space-between;  
 height: 5vh;
 width: 12vh;
}
@media screen and (max-width: 550px) {
  footer .letritas{
   font-size: small;
  }
  }